---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<p><a href="{{ site.author.googlescholar }}">Google Scholar</a></p>

{% assign publications = site.publications | sort: 'publication_year' | reverse %}
{% for category in site.publication_category %}
  {% assign entries = publications | where: 'category', category[0] %}
  {% if entries.size > 0 %}
    <h2>{{ category[1].title }}</h2>
    {% for post in entries %}
      {% include publication-entry.html %}
    {% endfor %}
  {% endif %}
{% endfor %}
